body{
	padding: 0;
	margin: 0;
	background-image: url(../img/bg/winter2.jpg);
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: cover;
}
header{
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 1);
}
#spIcons{
	width: 900px;
	height: auto;
	background: red;
	margin: 0px auto;
	padding: 0;
	position: relative;
}
#spIcons img{
	display: block;
}
#menu{
	width: 900px;
	height: auto;
	background: green;
	margin: 0px auto;
	clear: both;
	text-align: center;

	position: relative;
}
#containerMain{
	width: 880px;
	height: 350px;
	background: #e6e6e6;
	margin: 10px auto;
	padding: 0px 6px;
}
#wiki{
	width: 880px;
	height: 1500px;
	background: white;
	margin: 0px auto;
	border: 1px solid rgba(0, 0, 0, 0.9);
}
.bttt{
	opacity: 0.5;
}
.bttt:hover{
	opacity: 1;
}